{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'cloud/style.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

    <nav>
        <h1><span>My</span>Cloud</h1>
        <ul class="nav-bar">
            <li class="nav-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="nav-item"><a href="{% url 'files' %}">Files</a></li>
        </ul>
    </nav>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    
    {% block scripts %}
    {% endblock %}
</body>
</html>