{% extends 'cloud/base.html' %}
{% load static %}

{% block title %}
Cloud
{% endblock %}

{% block content %}

    <nav>
        <h1><span>My</span>Cloud</h1>
        <ul class="nav-bar">
            <li class="nav-item"><a href="">Home</a></li>
            <li class="nav-item"><a href="">Docs</a></li>
            <li class="nav-item"><a href="">Pics</a></li>
        </ul>
    </nav>

    <div class="container">
        <h1>Welcome.</h1>
        <h3>Total files stored: </p>
            <div class="sub-container" id="total-files-bar"></div>
        <h3>Recent files added: </p>
            <div class="sub-container" id="recent-files-bar"></div>
    </div>

{% endblock %}

{% block scripts %}
<!-- <script src="{% static 'cloud/script.js' %}"></script> -->
{% endblock %}